

:root {
    color: rgba(255, 255, 255, 0.87);
  background-color: rgb(0, 213, 255);
  background-image: "public/images (2).jpg";
}
  

 

.rutas {
  color: black;
  font-family: 'Times New Roman', Times, serif;
  font: weight 400;
  font-style: italic;

  }

  .cierro{
    color: beige;
    background-color: black;
    
    align-items: center;
   margin: 15px;
    
  }


  .boton{
    color:black;
    background-color: red;
    margin:10px;
  }
  .linkeando{
    color:red;
   justify-content: right;
    
   
  }

 .listas{
  list-style:none

 }

 .libros{
  color: rgb(8, 103, 14);
  margin: 8px;
  

 }